* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

.App {
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "main";

  width: 100vw;
}

header {
  grid-area: header;
}

header h1 {
  grid-area: header;
  color: white;
  padding: 14px 16px;
}
/* 
footer {
  grid-area: footer;
  color: white;
  padding: 14px 16px;
} */

main {
  display: grid;
  grid-area: main;
  text-align: center;
  padding-top: 10px;
  color: white;
  background-color: black;
  height: 80vh;
}

.topnav {
  overflow: hidden;
  background-color: rgb(53, 14, 226);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

#routines-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding: 20px;
  background-color: black;
}

.routine-cards,
.activity-cards {
  grid-auto-flow: row;
  margin: 7px;
  padding: 5px;
  padding-top: 50px;
  color: white;
  background-color: rgba(18, 19, 23, 1);
  border-radius: 0.25rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-name,
.card-goal {
  font-size: larger;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
}

.card-name p {
  font-size: large;
  color: white;
}

.card a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

div.activities {
  background-color: rgb(53, 14, 226);
  color: white;
  margin: 7px;
  padding: 10px;
  border-radius: 3rem;
}

.card-activity {
  display: flex;
  flex-wrap: wrap;
}

.username-hello {
  color: white;
  font-size: xx-large;
  justify-content: center;
}

.drop-down-label {
  color: white;
  padding: 5px;
  background-color: blue;
  font-weight: bold;
}

fieldset {
  margin: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
